cmake-build-release/Testing/Temporary/LastTest.log
cmake-build-release/SztucznaIntel.exe
cmake-build-release/SztucznaIntel.cbp
cmake-build-release/Makefile
cmake-build-release/CMakeFiles/TargetDirectories.txt
cmake-build-release/CMakeFiles/SztucznaIntel.dir/progress.make
cmake-build-release/CMakeFiles/SztucznaIntel.dir/objects1.rsp
cmake-build-release/CMakeFiles/SztucznaIntel.dir/objects.a
cmake-build-release/CMakeFiles/SztucznaIntel.dir/main.cpp.obj.d
cmake-build-release/CMakeFiles/SztucznaIntel.dir/main.cpp.obj
cmake-build-release/CMakeFiles/SztucznaIntel.dir/linklibs.rsp
cmake-build-release/CMakeFiles/SztucznaIntel.dir/link.txt
cmake-build-release/CMakeFiles/SztucznaIntel.dir/flags.make
cmake-build-release/CMakeFiles/SztucznaIntel.dir/DependInfo.cmake
cmake-build-release/CMakeFiles/SztucznaIntel.dir/depend.make
cmake-build-release/CMakeFiles/SztucznaIntel.dir/compiler_depend.ts
cmake-build-release/CMakeFiles/SztucznaIntel.dir/compiler_depend.make
cmake-build-release/CMakeFiles/SztucznaIntel.dir/cmake_clean.cmake
cmake-build-release/CMakeFiles/SztucznaIntel.dir/build.make
cmake-build-release/CMakeFiles/rules.ninja
cmake-build-release/CMakeFiles/progress.marks
cmake-build-release/CMakeFiles/Makefile2
cmake-build-release/CMakeFiles/Makefile.cmake
cmake-build-release/CMakeFiles/CMakeOutput.log
cmake-build-release/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-release/CMakeFiles/clion-log.txt
cmake-build-release/CMakeFiles/clion-environment.txt
cmake-build-release/CMakeFiles/3.23.2/CompilerIdCXX/a.exe
cmake-build-release/CMakeFiles/3.23.2/CompilerIdC/a.exe
cmake-build-release/CMakeFiles/3.23.2/CMakeSystem.cmake
cmake-build-release/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-release/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
cmake-build-release/CMakeCache.txt
cmake-build-release/cmake_install.cmake
cmake-build-release/.cmake/api/v1/reply/index-2022-11-21T10-53-18-0669.json
cmake-build-release/.cmake/api/v1/reply/index-2022-10-24T10-52-05-0276.json
cmake-build-release/.cmake/api/v1/reply/codemodel-v2-e9fad6feb041995c21a4.json
cmake-build-release/.cmake/api/v1/reply/codemodel-v2-8d48b24f7e63b94bfa94.json
cmake-build-release/.cmake/api/v1/reply/cmakeFiles-v1-41ca41f36caca9bc3712.json
cmake-build-release/.cmake/api/v1/reply/cmakeFiles-v1-28cb7729f755b8a403c6.json
cmake-build-release/.cmake/api/v1/reply/cache-v2-21e811ff58f10e0070d3.json
cmake-build-release/.cmake/api/v1/reply/cache-v2-19be6546aba5e1dd182d.json
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/SztucznaIntel.exe
cmake-build-debug/SztucznaIntel.cbp
cmake-build-debug/Makefile
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/SztucznaIntel.dir/progress.make
cmake-build-debug/CMakeFiles/SztucznaIntel.dir/objects1.rsp
cmake-build-debug/CMakeFiles/SztucznaIntel.dir/objects.a
cmake-build-debug/CMakeFiles/SztucznaIntel.dir/main.cpp.obj.d
cmake-build-debug/CMakeFiles/SztucznaIntel.dir/main.cpp.obj
cmake-build-debug/CMakeFiles/SztucznaIntel.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/SztucznaIntel.dir/link.txt
cmake-build-debug/CMakeFiles/SztucznaIntel.dir/flags.make
cmake-build-debug/CMakeFiles/SztucznaIntel.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/SztucznaIntel.dir/depend.make
cmake-build-debug/CMakeFiles/SztucznaIntel.dir/compiler_depend.ts
cmake-build-debug/CMakeFiles/SztucznaIntel.dir/compiler_depend.make
cmake-build-debug/CMakeFiles/SztucznaIntel.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/SztucznaIntel.dir/build.make
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeCache.txt
cmake-build-debug/cmake_install.cmake
cmake-build-debug/.cmake/api/v1/reply/index-2022-11-21T10-53-18-0672.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-10-24T10-52-05-0240.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-ef4e0177e280c2132084.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-5dfae1a5083604dc6f81.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-a42c445020efb580a4f1.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-8662431656b03898167e.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-e919161f9868a7d82eab.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-385fa807f8a87d340ae2.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-385fa807f8a87d340ae2.json
.idea/
